<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings xdt:Transform="Replace">
        <add name="DefaultConnectionString" connectionString="Data Source=SQL; Initial Catalog=Notifications;Connection Timeout=30; UID=gdbs_user; PWD=1234; Application Name = Notifications_UI_Test;Trusted_Connection=False;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>
