@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<hr />
<address>
    Alta Software ltd.<br />
    E. Magalashvili str. N8<br />
    <abbr title="Phone">P:</abbr>
    + 995 (322) 368 552
</address>

<address>
    <strong>Contact us:</strong>   <a href="mailto:info@altasoft.ge">info@altasoft.ge</a><br />
</address>