@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Use it</h1>
    <p class="lead">Easy to integrate using http requests. Send notifications to your customers.</p>
    <p class="text-right"><a href="@Url.Action("Index", "Help", new { area = "HelpPage" })" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Application</h2>
        <p>
            External system, like yours. Application has own id & secret key
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Application", new { area = "" })">View Applications &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Provider</h2>
        <p>The way of sending information from System to customers</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Provider", new { area = "" })">Available Providers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Message</h2>
        <p>One message, which will be sent to customer using specific provider</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Message", new { area = "" })">Monitor Messages &raquo;</a></p>
    </div>
</div>